{#TODO: Git rid of href="javascript:void(0);" - replace with aria-friendly element.#}

{% set slideshow = api.slideshows.get({ id: arg }) %}
{% set allowedTags = '<br><p><strong><em><u>' %}

<div class="slideshow">
	{# For screen readers, we hide the main slideshow and expose only the thunbnails. Less clutter that way. #}

	<a href="javascript:void(0);" class="fullscreen-button" aria-hidden="true"></a>

	<div class="mask" aria-hidden="true">
		<div class="arrow-wrapper">
			<a href="javascript:void(0);" class="ss-arrow arrow-prev"></a>
			<a href="javascript:void(0);" class="ss-arrow arrow-next"></a>
		</div>

		<p class="slide-swipe-hint">
			Swipe for more!
		</p>

		<ul class="slideset">
			{% for slide in slideshow.slides %}
				{% set strippedCaption = slide.caption|striptags(allowedTags) %}
				{% set strippedCredit = slide.credit|striptags %}

				<li class="slide">
					<img class="slide-image" src="{{ slide.image_url_large }}" alt="{{ slide.alt_text }}">
					<span class="slide-image-credit">{{ strippedCredit|raw }}</span>

					<div class="slide-caption-area">
						<img class="slide-parachute-logo" src="{{ asset('images/parachute-logo-square.png') }}"
							 alt="Parachute logo">

						<div class="caption-wrapper">
							<span class="caption">{{ strippedCaption|raw }}</span>
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

	<ul class="ss-pagination">
		{% for slide in slideshow.slides %}
			{% set strippedCaptionPreview = slide.caption|striptags %}
			{% set strippedCreditPreview = slide.credit|striptags %}
			<li>
				<a href="javascript:void(0);" aria-label="{{ "Slide show image of #{slide.alt_text} by #{strippedCreditPreview}: #{strippedCaptionPreview}" }}">
					<img src="{{ slide.image_url_thumb }}" alt="{{ slide.alt_text }}">
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
