{% set slideshow = api.slideshows.get({ id: arg }) %}
{% set allowedTags = '<br><p><strong><em><u>' %}

{#{{ prettydump(slideshow) }}#}

<div class="slideshow">
    <div class="mask">
        <div class="arrow-wrapper">
            <a class="ss-arrow arrow-prev"></a>
            <a class="ss-arrow arrow-next"></a>
        </div>

        <p class="slide-swipe-hint">
            Swipe for more!
        </p>

        <ul class="slideset">
            {% for slide in slideshow.slides %}
                {% set strippedCaption = slide.caption|striptags(allowedTags) %}
                {% set strippedAltText = slide.alt_text|striptags %}
                {% set strippedCredit = slide.credit|striptags %}

                <li class="slide">
                    <img class="slide-image" src="{{ slide.image_url_large }}" alt="{{ strippedAltText|raw }}">
                    <span class="slide-image-credit">{{ strippedCredit|raw }}</span>

                    <div class="slide-caption-area">
                        <img class="slide-parachute-logo" src="{{ asset('images/parachute-logo-square.png') }}" alt="Parachute logo">

                        <div class="caption-wrapper">
                            <span class="caption">{{ strippedCaption|raw }}</span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <ul class="ss-pagination">
        {% for slide in slideshow.slides %}
            {% set strippedAltText = slide.alt_text|striptags %}

            <li>
                <a href="javascript:void(0);">
                    <img src="{{ slide.image_url_thumb }}" alt="Thumbnail preview of: {{ strippedAltText|raw }}">
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
