<!DOCTYPE html>
<html>
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices  -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}MapquestDiscover{% endblock %}</title>
	<!-- include the site stylesheet -->
	<link media="all" rel="stylesheet" href="{{ asset('styles/all.css') }}">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<link type="text/css" rel="stylesheet" href="{{ asset('styles/ie.css') }}">
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
	<!-- wrapper of the page -->
	<div id="wrapper">
		<div class="w1">
			<!-- header of the page -->
			<header id="header">
				<div class="container">
					<div class="top-adbox"><img src="{{ asset('images/ad1.jpg') }}" height="90" width="726" alt="728x90"></div>
				</div>
				<!-- header navbar of the page -->
				<div class="header-navbar">
					<div class="container">
						<!-- logo of the site -->
						<div class="logo"><a href="#"><img src="{{ asset('images/logo.png') }}" height="59" width="393" alt="Mapquest Discover"></a></div>
						<!-- main navigation of the page -->
						<nav id="nav">
							<a href="#" class="opener"><span>Opener</span></a>
							<ul>
								<li><a href="#">VIDEOS</a></li>
								<li><a href="#">EXPERTS</a></li>
								<li><a href="http://www.mapquest.com/directions">DIRECTIONS</a></li>
								<li><a href="https://contributor.mapquest.com/registration/">CONTRIBUTE</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</header>

{% block main %}

<!-- main informative part of the page -->
			<main id="main">
				<div class="container">

				{% block share_search %}
					{% include "@blocks/partials/share_search.twig" %}
				{% endblock %}

					<!-- main content holder of the page -->
					<div id="two-columns">
						<!-- main content of the page -->
						<div id="content">
							{% block body %}{% endblock %}
						</div>
						<!-- sidebar of the page -->
						<aside id="sidebar">
							{% block right_rail %}{% endblock %}
						</aside>
					</div>
				</div>
			</main>

{% endblock %}

</div>
		<!-- footer of the page -->
		<footer id="footer">
			<div class="footer-top">
				<div class="container">
					<div class="row five-col">
						<div class="col">
							<h3>About</h3>
							<!-- footer navigation of the page -->
							<nav class="footer-nav">
								<ul>
									<li><a href="http://company.mapquest.com/">About MapQuest</a></li>
									<li><a href="https://support.mapquest.com/hc/en-us/requests/new">Contact us</a></li>
									<li><a href="http://advertising.aol.com/brands/mapquest">Advertise</a></li>
									<li><a href="http://adinfo.aol.com/about-our-ads/">About Our Ads</a></li>
								</ul>
							</nav>
						</div>
						<div class="col">
							<h3>More MapQuest</h3>
							<!-- footer navigation of the page -->
							<nav class="footer-nav">
								<ul>
									<li><a href="http://www.mapquest.com/directions">Directions</a></li>
									<li><a href="http://www.mapquest.com/mlb-gameday-guides/">Key to the City</a></li>
									<li><a href="https://developer.mapquest.com/">Business Solutions</a></li>
									<li><a href="http://blog.mapquest.com/">MapQuest Blog</a></li>
								</ul>
							</nav>
						</div>
						<div class="col">
							<h3>Contribute</h3>
							<!-- footer navigation of the page -->
							<nav class="footer-nav">
								<ul>
									<li><a href="https://contributor.mapquest.com/registration/">Become a MapQuest Contributor</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="row three-col">
						<div class="col">
							<h3>Follow MapQuest</h3>
							<!-- social networks of the page -->
							<ul class="social-networks">
								<li><a href="https://www.facebook.com/MapQuest" class="facebook">facebook</a></li>
								<li><a href="https://twitter.com/mapquest" class="twitter">twitter</a></li>
								<li><a href="https://plus.google.com/+mapquest/videos" class="gplus">gplus</a></li>
								<li><a href="https://www.youtube.com/user/mapquest" class="youtube">youtube</a></li>
								<li><a href="https://instagram.com/mapquest/" class="instagram">instagram</a></li>
								<li><a href="https://www.linkedin.com/company/mapquest" class="linkedin">linkedin</a></li>
							</ul>
						</div>
						<div class="col">
							<h3>MapQuest Apps</h3>
							<!-- app links of the page -->
							<ul class="app-links">
								<li><a href="https://play.google.com/store/apps/details?id=com.mapquest.android.ace" class="android">Android</a></li>
								<li><a href="https://itunes.apple.com/app/mapquest-maps-gps-voice-navigation/id316126557?mt=8" class="apple">iPhone</a></li>
								<li><a href="https://itunes.apple.com/app/mapquest-maps-gps-voice-navigation/id316126557?mt=8" class="apple">iPad</a></li>
							</ul>
							<span class="link-text">
								<a href="http://mobile.mapquest.com/#intro" class="link-arrow">More Apps from MapQuest</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- include jQuery library -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- include custom JavaScript -->
	<script src="{{ asset('scripts/jquery.main.js') }}"></script>
</body>
</html>
