{%- if req.secure != true -%}
    {%- do res.redirect('https://'~req.host~req.path~(req.query ? '?' ~ req.query : ''), 301) -%}
{%- endif -%}
{%- import "@blocks/macros/asset-file.twig" as assetfile -%}
<!DOCTYPE html>
<html lang="en">
<head>
	<script type='text/javascript' src='https://s.aolcdn.com/ads/adsWrapper.js'></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="{{ asset('scripts/libraries/hammer.min.js') }}"></script>

	<!-- jQuery plugins -->
	<script type="text/javascript" src="{{ asset('scripts/jquery-plugins/simple-mobile-navigation.js') }}"></script>
	<script type="text/javascript" src="{{ asset('scripts/jquery-plugins/insert-touch-to-uncover-element.js') }}"></script>
	<script type="text/javascript" src="{{ asset('scripts/jquery-plugins/placeholder.js') }}"></script>
	<script type="text/javascript" src="{{ asset('scripts/jquery-plugins/scroll-absolute-gallery.js') }}"></script>
	<script type="text/javascript" src="{{ asset('scripts/jquery-plugins/tabs.js') }}"></script>
	<script type="text/javascript" src="{{ asset('scripts/jquery-plugins/jquery-modal/jquery.modal.min.js') }}"></script>

	<!-- include custom JavaScript -->
	<script type="text/javascript" src="{{ asset('scripts/parachute.js') }}"></script>
	<script type="text/javascript" src="{{ asset('scripts/shared.js') }}"></script>
	<script type="text/javascript" src="//secure.rezserver.com/public/js/searchbox/searchbox.min.js"></script>
	<script type='text/javascript'>
	adSetAdURL('/_uac/adpage.html');
	</script>

	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<meta data-siteidentifier="mapquesttravel">
	<!-- meta tags -->

	{% block meta %}
	  <meta name="title" content="Travel inspiration and articles that will help you plan your next vacation. — MapQuest" />
	  <meta name="description" content="Get inspired to plan your next trip by disocovering  a hidden gem, a unique food tour or something completely unexpected. — MapQuest"/>
	  <meta name="keywords" content="travel, travel ideas, travel inspiration"/>
	  <meta name="H1" content="Travel Articles"/>

	  <!-- fb opengraph tags -->
	  <meta property="og:title" content="Travel inspiration and articles that will help you plan your next vacation. — MapQuest"/>
	  <meta property="og:type" content="website"/>
	  <meta property="og:url" content="https://travel.mapquest.com"/>
		{% set image = post.images.featured %}
			{% if image == true %}
  	  <meta property="og:image" content="{{ post.images.featured }}" />
			{% endif %}
	  <meta property="og:description" content="Get inspired to plan your next trip by disocovering  a hidden gem, a unique food tour or something completely unexpected. — MapQuest" />
	{% endblock %}
	<meta property="fb:pages" content="1670990563146284" />

	<!-- set the viewport width and initial-scale on mobile devices  -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- include the site stylesheet -->
	<link media="all" rel="stylesheet" href="{{ asset('styles/'~assetfile.assetfile('all.min.css')) }}">
	<link media="all" rel="stylesheet" href="{{ asset('scripts/jquery-plugins/jquery-modal/jquery.modal.min.css') }}">
	<link rel="icon" href="{{ asset('images/favicon_mqtravel1.ico') }}" type="image/x-icon">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<link type="text/css" rel="stylesheet" href="{{ asset('styles/ie.css') }}">
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<![endif]-->
    <meta name="google-site-verification" content="O11SM7EL9ZaCmA0pZjEt4sWpND7KEYlmlQf5qDH0hu8"/>
    <meta name="google-site-verification" content="5vk4iG46fTaeiTy0-i7GKkTMa5iIwD4sc0rBqkcwiG4"/>

    <!-- Appboy SDK -->
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="https://js.appboycdn.com/web-sdk/1.3/appboy.min.css" />

	{# TODO: Move inline scripts to separate file #}

	{% block title %}
		<title>MapQuest Travel</title>
	{% endblock %}

</head>
<body>
	<!-- facebook SDK -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1116286701729270',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>	<!-- wrapper of the page -->
	<div id="wrapper">
		<div class="w1">
			<!-- header of the page -->
			<header id="header">
				<div class="ad-container">
					<div class="top-adbox">
						<script type='text/javascript'>
							<!--
								htmlAdWH('93513132', '728', '90', 'f');
							//-->
						</script>
					</div>
					<div>
</div>
</div>

	<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84360094-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- woobox sdk -->
<div id='woobox-root'></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//woobox.com/js/plugins/woo.js";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'woobox-sdk'));</script>

<!-- header navbar of the page -->
<div class="header-navbar">
	<div class="container">
		<!-- logo of the site -->
	{% if req.route == 'cats' or 'CatQuest' in post.tags %}
		<div class="logo"><a href="/"><img src="{{ asset('images/logo_drkblue2_catquest.png') }}" height="auto" width="393" alt="CatQuest"></a></div>
	{% else %}
		<div class="logo"><a href="/"><img src="{{ asset('images/MQ-Travel_Logo_logo3.png') }}" height="auto" width="500" alt="MapQuest Travel"></a></div>
	{% endif %}
		<!-- main navigation of the page -->
		<nav id="nav">
			<a href="#" class="opener"><span>Opener</span></a>
			<ul>
				<li><a href="https://bookings.mapquest.com/?refid=5101&refclickid=MqTravelNav" target="blank">BOOK TRAVEL</a></li>
				{# <li><a href="/local-news/">LOCAL </a></li> #}
				<li><a href="https://www.mapquest.com/directions" target="blank">DIRECTIONS</a></li>
				<li><a href="/soundslocal/">SOUNDS LOCAL</a></li>
			</ul>
		</nav>
	</div>
</div>
<div class="search-container">
<form action="/search/" class="search-form">
<fieldset>
	{# Via CSS, this legend element is only visible to screenreaders. #}
	<legend>Search within MapQuest Travel</legend>
	<input type="search" name="q" placeholder="Search ... " aria-label="Search">
	<button type="submit" class="btn-search">Search</button>
</fieldset>
</form>
</div>
			</header>

{% block main %}

<!-- main informative part of the page -->
<main id="main">
	<div class="container">

		<!-- main content holder of the page -->
		<div id="two-columns">
			<!-- main content of the page -->
			<div id="content">
				{% block body %}{% endblock %}
			</div>
			<!-- sidebar of the page -->
			<aside id="sidebar">
				{% block right_rail %}
					{% include "@blocks/partials/right_rail.twig" %}
				{% endblock %}
			</aside>
		</div>
	</div>
</main>

{% endblock %}

</div>
		<!-- footer of the page -->
<footer id="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row five-col">
				<div class="col">
					<h3>About</h3>
					<!-- footer navigation of the page -->
					<nav class="footer-nav">
						<ul>
							<li><a href="http://company.mapquest.com/" target="_blank">About MapQuest</a></li>
							<li><a href="mailto:mapquest-travel@mapquest.com" target="_blank">Contact Us</a></li>
							<li><a href="https://business.mapquest.com/products/targeted-advertising" target="_blank">Advertise</a></li>
							<li><a href="http://www.verizon.com/about/privacy/about-our-ads" target="_blank">About Our Ads</a></li>
						</ul>
					</nav>
				</div>
				<div class="col">
					<h3>More MapQuest</h3>
					<!-- footer navigation of the page -->
					<nav class="footer-nav">
						<ul>
							<li><a href="https://www.mapquest.com/directions" target="_blank">Driving Directions</a></li>
							<li><a href="https://www.mapquest.com/search" target="_blank">Find Place or Address</a></li>
							<li><a href="https://developer.mapquest.com/" target="_blank">Business Solutions</a></li>
							<li><a href="https://bookings.mapquest.com/refclickid=&refclickid=MqTravelFooter&refid=5101" target="_blank">Book Travel</a></li>
						</ul>
					</nav>
				</div>
				<div class="col">
					<h3>Even More</h3>
					<!-- footer navigation of the page -->
					<nav class="footer-nav">
						<ul>
						{# 	<li><a href="https://contributor.mapquest.com/registration/" target="_blank">Become a Contributor</a></li> #}
							<li><a href="/2016/05/23/parachute-by-mapquest-custom-content-solutions/" target="_blank">Custom Content Solutions</a></li>
							<li><a href="https://hello.mapquest.com/privacy/" target="_blank">Privacy Policy</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row three-col">
				<div class="col">
					<h3>Follow MapQuest</h3>
					<!-- social networks of the page -->
					<ul class="social-networks">
						<li><a href="https://www.facebook.com/mapquesttravel/" class="facebook" target="_blank">facebook</a></li>
						<li><a href="https://twitter.com/mapquest_travel" class="twitter" target="_blank">twitter</a></li>
						<li><a href="https://plus.google.com/+mapquest/videos" class="gplus" target="_blank">gplus</a></li>
						<li><a href="https://www.youtube.com/user/mapquest" class="youtube" target="_blank">youtube</a></li>
						<li><a href="https://instagram.com/mapquest/" class="instagram" target="_blank">instagram</a></li>
						<li><a href="https://www.linkedin.com/company/mapquest" class="linkedin" target="_blank">linkedin</a></li>
					</ul>
				</div>
				<div class="col">
					<h3>MapQuest Apps</h3>
					<!-- app links of the page -->
					<ul class="app-links">
						<li><a href="https://play.google.com/store/apps/details?id=com.mapquest.android.ace" class="android" target="_blank">Android</a></li>
						<li><a href="https://itunes.apple.com/app/mapquest-maps-gps-voice-navigation/id316126557?mt=8" class="apple" target="_blank">iPhone</a></li>
					</ul>
					<span class="link-text">
						<a href="http://mobile.mapquest.com/#intro" class="link-arrow" target="_blank">More Apps from MapQuest</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</footer>
</div>
	<!-- include jQuery library -->
{% include "@blocks/partials/tracking.twig" %}
</body>
</html>
