{%- if req.secure != true -%}
    {%- do res.redirect('https://'~req.host~req.path~(req.query ? '?' ~ req.query : ''), 301) -%}
{%- endif -%}
{%- import "@blocks/macros/asset-file.twig" as assetfile -%}
<!DOCTYPE html>
<html>
<head>
	<script type='text/javascript' src='https://s.aolcdn.com/ads/adsWrapper.js'></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="{{ asset('scripts/libraries/hammer.min.js') }}"></script>

	<!-- jQuery plugins -->
	<script type="text/javascript" src="{{ asset('scripts/jquery-plugins/simple-mobile-navigation.js') }}"></script>
	<script type="text/javascript" src="{{ asset('scripts/jquery-plugins/insert-touch-to-uncover-element.js') }}"></script>
	<script type="text/javascript" src="{{ asset('scripts/jquery-plugins/placeholder.js') }}"></script>
	<script type="text/javascript" src="{{ asset('scripts/jquery-plugins/scroll-absolute-gallery.js') }}"></script>
	<script type="text/javascript" src="{{ asset('scripts/jquery-plugins/tabs.js') }}"></script>

	<!-- include custom JavaScript -->
	<script type="text/javascript" src="{{ asset('scripts/parachute.js') }}"></script>
	<script type="text/javascript" src="{{ asset('scripts/shared.js') }}"></script>
	<script type="text/javascript" src="//secure.rezserver.com/public/js/searchbox/searchbox.min.js"></script>
	<script type='text/javascript'>
	adSetAdURL('/_uac/adpage.html');
	</script>

	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<meta data-siteidentifier="parachute">
	<!-- meta tags -->
	{% block meta %}
	  <meta name="title" content="Events, Concerts, and Local News in Your Area - MapQuest" />
	  <meta name="description" content="Insider tips by locals. Find places to eat and drink, things to add to your bucket-list, or catch an emerging band on tour."/>
	  <meta name="keywords" content="local,travel"/>
	  <meta name="H1" content="Local Events"/>
	  <!-- fb opengraph tags -->
	  <meta property="og:title" content="Events, Concerts, and Local News in Your Area - MapQuest"/>
	  <meta property="og:type" content="website"/>
	  <meta property="og:url" content="https://parachute.mapquest.com"/>
		{% set image = post.images.featured %}
			{% if image == true %}
  	  <meta property="og:image" content="{{ post.images.featured }}" />
			{% endif %}
	  <meta property="og:description" content="Insider tips by locals. Find places to eat and drink, things to add to your bucket-list, or catch an emerging band on tour." />
{% endblock %}
	<meta property="fb:pages" content="1670990563146284" />
	<!-- set the viewport width and initial-scale on mobile devices  -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- include the site stylesheet -->
	<link media="all" rel="stylesheet" href="{{ asset('styles/'~assetfile.assetfile('all.min.css')) }}">
	<link rel="icon" href="{{ asset('images/favicon2.ico') }}" type="image/x-icon">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<link type="text/css" rel="stylesheet" href="{{ asset('styles/ie.css') }}">
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<![endif]-->
    <meta name="google-site-verification" content="O11SM7EL9ZaCmA0pZjEt4sWpND7KEYlmlQf5qDH0hu8"/>
    <!-- Appboy SDK -->
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="https://js.appboycdn.com/web-sdk/1.3/appboy.min.css" />

	{# TODO: Move inline scripts to separate file #}

	<script type="text/javascript">
  		+function(a,p,P,b,y) {
    		appboy={};for(var s="destroy toggleAppboyLogging setLogger openSession changeUser requestImmediateDataFlush requestFeedRefresh subscribeToFeedUpdates logCardImpressions logCardClick logFeedDisplayed requestInAppMessageRefresh logInAppMessageImpression logInAppMessageClick logInAppMessageButtonClick subscribeToNewInAppMessages removeSubscription removeAllSubscriptions logCustomEvent logPurchase isPushSupported isPushBlocked registerAppboyPushMessages unregisterAppboyPushMessages submitFeedback ab ab.User ab.User.Genders ab.User.NotificationSubscriptionTypes ab.User.prototype.getUserId ab.User.prototype.setFirstName ab.User.prototype.setLastName ab.User.prototype.setEmail ab.User.prototype.setGender ab.User.prototype.setDateOfBirth ab.User.prototype.setCountry ab.User.prototype.setHomeCity ab.User.prototype.setEmailNotificationSubscriptionType ab.User.prototype.setPushNotificationSubscriptionType ab.User.prototype.setPhoneNumber ab.User.prototype.setAvatarImageUrl ab.User.prototype.setLastKnownLocation ab.User.prototype.setUserAttribute ab.User.prototype.setCustomUserAttribute ab.User.prototype.addToCustomAttributeArray ab.User.prototype.removeFromCustomAttributeArray ab.User.prototype.incrementCustomUserAttribute ab.InAppMessage ab.InAppMessage.SlideFrom ab.InAppMessage.ClickAction ab.InAppMessage.DismissType ab.InAppMessage.prototype.subscribeToClickedEvent ab.InAppMessage.prototype.subscribeToDismissedEvent ab.InAppMessage.prototype.removeSubscription ab.InAppMessage.prototype.removeAllSubscriptions ab.InAppMessage.Button ab.InAppMessage.Button.prototype.subscribeToClickedEvent ab.InAppMessage.Button.prototype.removeSubscription ab.InAppMessage.Button.prototype.removeAllSubscriptions ab.SlideUpMessage ab.ModalMessage ab.FullScreenMessage ab.ControlMessage ab.Feed ab.Feed.prototype.getUnreadCardCount ab.Card ab.ClassicCard ab.CaptionedImage ab.Banner display display.automaticallyShowNewInAppMessages display.showInAppMessage display.showFeed display.destroyFeed display.toggleFeed sharedLib".split(" "),i=0;i<s.length;i++){for(var k=appboy,l=s[i].split("."),j=0;j<l.length-1;j++)k=k[l[j]];k[l[j]]=function(){}}appboy.initialize=function(){console&&console.log("Appboy cannot be loaded - this is usually due to strict corporate firewalls or ad blockers.")};appboy.getUser=function(){return new appboy.ab.User};appboy.getCachedFeed=function(){return new appboy.ab.Feed};
    	(y = a.createElement(p)).type = 'text/javascript';
    	y.src = 'https://js.appboycdn.com/web-sdk/1.3/appboy.min.js';
    	(c = a.getElementsByTagName(p)[0]).parentNode.insertBefore(y, c);
    	if (y.addEventListener) {
      		y.addEventListener("load", b, false);
    	} else if (y.readyState) {
      		y.onreadystatechange = b;
    	}
  	}(document, 'script', 'link', function() {
    	appboy.initialize('4bc865da-1238-42d0-b288-fe3a8c63bfa3');
    	appboy.display.automaticallyShowNewInAppMessages();

    /*
     * If you have a unique identifier for this user (e.g. they are logged into your site) it's a good idea to call
     * changeUser here.
     * See https://js.appboycdn.com/web-sdk/latest/doc/module-appboy.html#.changeUser for more information.
     */
    // appboy.changeUser(userIdentifier);

    appboy.openSession();

    /*
     * By default, in-app messages are only refreshed every 10 minutes as part of the openSession call. Additionally,
     * they are not refreshed on a new anonymous user's first-ever session. If you want them refreshed as part of every
     * page load instead, uncomment this line - note that depending on your website's architecture and messaging strategy,
     * this may cause users to receive messages very frequently as they navigate around the site, and therefore may not be
     * desirable.
     */
    // appboy.requestInAppMessageRefresh();
  });
	</script>
<body>
	<!-- facebook SDK -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1116286701729270',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>	<!-- wrapper of the page -->
	<div id="wrapper">
		<div class="w1">
			<!-- header of the page -->
			<header id="header">
				<div class="ad-container">
					<div class="top-adbox">
						<script type='text/javascript'>
							<!--
								htmlAdWH('93513132', 'lb', 'lb', 'f');
							//-->
						</script>
					</div>
					<div>

	<!-- Google custom search -->
<script>
		(function() {
	var cx = '012371198347892973785:ng2b0dncab4';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
</div>
</div>

	<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84360094-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- woobox sdk -->
<div id='woobox-root'></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//woobox.com/js/plugins/woo.js";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'woobox-sdk'));</script>

<!-- header navbar of the page -->
<div class="header-navbar">
	<div class="container">
		<!-- logo of the site -->
	{% if req.route == 'cats' or 'CatQuest' in post.tags %}
		<div class="logo"><a href="/"><img src="{{ asset('images/logo_drkblue2_catquest.png') }}" height="auto" width="393" alt="Parachute by MapQuest"></a></div>
	{% else %}
		<div class="logo"><a href="/"><img src="{{ asset('images/logo_drkblue2.png') }}" height="auto" width="393" alt="Parachute by MapQuest"></a></div>
	{% endif %}
		<!-- main navigation of the page -->
		<nav id="nav">
			<a href="#" class="opener"><span>Opener</span></a>
			<ul>
				<li><a href="/soundslocal/">SOUNDS LOCAL</a></li>
				<li><a href="/local-news/">LOCAL NEWS</a></li>
				<li><a href="https://www.mapquest.com/directions" target="blank">DIRECTIONS</a></li>
				<li><a href="https://local.contributor.mapquest.com/registration/" target="blank">CONTRIBUTE</a></li>
			</ul>
		</nav>
	</div>
</div>
<div class="search-container">
<form action="/search/" class="search-form">
<fieldset>
  <input type="search" name="q" placeholder="Search ... ">
  <button type="submit" class="btn-search">Search</button>
</fieldset>
</form>
</div>
			</header>

{% block main %}

<!-- main informative part of the page -->
<main id="main">
	<div class="container">

		<!-- main content holder of the page -->
		<div id="two-columns">
			<!-- main content of the page -->
			<div id="content">
				{% block body %}{% endblock %}
			</div>
			<!-- sidebar of the page -->
			<aside id="sidebar">
				{% block right_rail %}
					{% include "@blocks/partials/right_rail.twig" %}
				{% endblock %}
			</aside>
		</div>
	</div>
</main>

{% endblock %}

</div>
		<!-- footer of the page -->
<footer id="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row five-col">
				<div class="col">
					<h3>About</h3>
					<!-- footer navigation of the page -->
					<nav class="footer-nav">
						<ul>
							<li><a href="http://company.mapquest.com/" target="_blank">About MapQuest</a></li>
							<li><a href="mailto:parachute@mapquest.com" target="_blank">Contact Us</a></li>
							<li><a href="http://advertising.aol.com/brands/mapquest" target="_blank">Advertise</a></li>
							<li><a href="http://adinfo.aol.com/about-our-ads/" target="_blank">About Our Ads</a></li>
						</ul>
					</nav>
				</div>
				<div class="col">
					<h3>More MapQuest</h3>
					<!-- footer navigation of the page -->
					<nav class="footer-nav">
						<ul>
							<li><a href="https://www.mapquest.com/directions" target="_blank">Driving Directions</a></li>
							<li><a href="https://www.mapquest.com/search" target="_blank">Find Place or Address</a></li>
							<li><a href="https://developer.mapquest.com/" target="_blank">Business Solutions</a></li>
							<li><a href="https://bookings.mapquest.com/refclickid=&refclickid=pchutefooter&refid=5101" target="_blank">Book Travel</a></li>
						</ul>
					</nav>
				</div>
				<div class="col">
					<h3>Even More</h3>
					<!-- footer navigation of the page -->
					<nav class="footer-nav">
						<ul>
							<li><a href="https://local.contributor.mapquest.com/registration/" target="_blank">Become a Contributor</a></li>
							<li><a href="https://parachute.mapquest.com/2016/05/23/parachute-by-mapquest-custom-content-solutions/" target="_blank">Custom Content Solutions</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row three-col">
				<div class="col">
					<h3>Follow MapQuest</h3>
					<!-- social networks of the page -->
					<ul class="social-networks">
						<li><a href="https://www.facebook.com/parachutebymq/" class="facebook" target="_blank">facebook</a></li>
						<li><a href="https://twitter.com/MQchute" class="twitter" target="_blank">twitter</a></li>
						<li><a href="https://plus.google.com/+mapquest/videos" class="gplus" target="_blank">gplus</a></li>
						<li><a href="https://www.youtube.com/user/mapquest" class="youtube" target="_blank">youtube</a></li>
						<li><a href="https://instagram.com/mapquest/" class="instagram" target="_blank">instagram</a></li>
						<li><a href="https://www.linkedin.com/company/mapquest" class="linkedin" target="_blank">linkedin</a></li>
					</ul>
				</div>
				<div class="col">
					<h3>MapQuest Apps</h3>
					<!-- app links of the page -->
					<ul class="app-links">
						<li><a href="https://play.google.com/store/apps/details?id=com.mapquest.android.ace" class="android" target="_blank">Android</a></li>
						<li><a href="https://itunes.apple.com/app/mapquest-maps-gps-voice-navigation/id316126557?mt=8" class="apple" target="_blank">iPhone</a></li>
					</ul>
					<span class="link-text">
						<a href="http://mobile.mapquest.com/#intro" class="link-arrow" target="_blank">More Apps from MapQuest</a>
					</span>
				</div>
			</div>
		</div>
	</div>
</footer>
</div>
	<!-- include jQuery library -->
{% include "@blocks/partials/tracking.twig" %}
</body>
</html>
