{% extends '@blocks/layouts/main.twig' %}
{% import "@blocks/macros/prop62.twig" as prop62 %}
{%- import "@blocks/macros/resize.twig" as resize -%}

{% set article_prop62 = prop62.video_presence(post.contents) %}

{#The replacement parser prioritises from left to right. Windows \r\n will not create two spaces with this:#}
{% set metaDescription = post.contents|out({Slideshow: null})|truncate(250)|striptags|replace({'\n\r': ' ', '\r\n': ' ', '\n': ' ', '\r': ' '}) %}

{% block body_class %}index{% endblock %}
{% block header_class %}alt{% endblock %}
{% block meta %}
  <meta name="title" content="{{ post.title }}" />
  <meta name="description" content="{{ metaDescription }}"/>
  <meta name="H1" content="Local Events"/>
  <!-- fb opengraph tags -->
  <meta property="og:title" content="{{ post.title}}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="https://{{ post.url }}"/>
	{% set image = post.images.featured %}
		{% if image == true %}
	 <meta property="og:image" content="{{ resize.resize(post.images.featured,537,304) }}" />
		{% endif %}
 <meta property="og:description" content="{{ metaDescription }}" />
{% endblock %}
{% block title %}
	<title>{{ post.title }}</title>
{% endblock %}
{% block body %}
{% if post.status == 'published' or 'pending'  %}
<article class="page-article">
	<base target="_blank">
<div class = "featured-image">
{% if post.images.featured %}
	{#TODO: Remove roadtrippers checks when amp gets update to image_crops (dims 5)#}

	{% set imgSrc = 'roadtrippers' in post.tags
		? resize.resize(post.images.featured, 1060, 600)
		: post.image_crops.featured %}

	<img src="{{ imgSrc }}" height="600" width="1060" alt="{{ post.featured_image_description }}" onload="appboy.registerAppboyPushMessages()">
	<figcaption><em><sub>{{ post.featured_image_credit }}</sub></em></figcaption>
{% else %}

{% endif %}
</div>
&nbsp;
<h1>{{ post.title|striptags|raw }}</h1>
 {#{{ prettydump(post) }}#}

	<aside class="meta">
		<div class="meta-info">
			<div class="share-info">
				<ul class="social-networks">
					<li><a href="http://www.facebook.com/sharer/sharer.php?m2w" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436');return false;" class="facebook">facebook</a></li>
					<li><a href="https://twitter.com/intent/tweet?text={{post.title}} {{post.url}}&via=MapQuest_Travel" target="_blank" class="twitter">twitter</a></li>
					<li><a href="https://plus.google.com/share?url={{post.url}}" target="_blank" class="gplus">gplus</a></li>
				</ul>
			</div>
			<span class="author-info"><a href="/contributor/{{ post.contributor_slug }}"
				class="author-avatar">
				{% set contributorImage = post.contributor.metadata.image %}
				{% if contributorImage == true %}
					{% set contributorImage = (contributorImage starts with '//' ? 'http:' : '' ) ~ contributorImage %}
					<img src="{{ resize.resize(contributorImage, 24, 24) }}" height="24" width="24" alt="Author image">
				{% else %}
					<img src="{{ asset('images/anon.jpg') }}" height="24" width="24" alt="Default author image">
				{% endif %} </a>
		by <a href="/contributor/{{ post.contributor_slug }}">{{ post.byline }}</a> |
				{{ post.site_id == 979 ? 'Contributor' : 'Local Blogger' }} |
				{{ post.published.date|date('F j, Y') }} </span>
		</div>
	</aside>

	{#Non-979 sites are auto-post. TODO: Find a less restrictive way to do this.#}
	{% set allowedTags = '<strong><br><em><u><s><ol><li><ul><blockquote><p><a><img><table><tbody><tr><td><pre><code>' %}

	{% set strippedContents = post.site_id == 979 ?
		post.contents :
		post.contents|striptags(allowedTags)
	%}

	{{ strippedContents|out ({
		Slideshow: '@blocks/partials/slideshow.twig'
	})|raw }}

	{% if 'class="instagram-media"' in strippedContents %}
		<script async defer src="https://platform.instagram.com/en_US/embeds.js"></script>
	{% endif %}

	{% if video and video.status == 'available' %}
	<div class="inline-video">
		<div class="vdb_player vdb_{{ config.video.player_id ~  config.video.company_id }}">
			<script type="text/javascript"
					src="//delivery.vidible.tv/jsonp/pid={{ config.video.player_id }}/vid={{ video.aol_video_id }}/{{ config.video.company_id }}.js"></script>
		</div>
	</div>
	{% endif %}

{% set tags = post.tags %}

<div class="article-info">

	{% if tags == true %}
		&nbsp;
	<div class="tag-holder">
		<span>Tags:</span>
		<!-- tags of the page -->
		<ul class="tags">
			{% for tag in tags %}
		<li><a href="/tag/{{tag}}">{{tag}}</a></li>
			{% endfor %}
		</ul>
	</div>
		{% else %}
	{% endif %}
</div>
</article>

<div class="fb-comments" data-href="https://{{ post.url }}" data-width="100%" data-numposts="10"></div>
{% elseif post.pending_visibility == 'password_protected' %}
{% do res.redirect('/notfound.html', 301) %}
{% else %}
		{% do res.redirect('/notfound.html', 301) %}
	{% endif %}
{% endblock %}

