{% extends '@blocks/layouts/main.twig' %}
{% import "@blocks/macros/pagination.twig" as pagination %}

{% block body_class %}index{% endblock %}
{% block header_class %}alt{% endblock %}
{% block meta %}
  <meta name="title" content="Reasons to visit a NASCAR track this year - MapQuest" />
  <meta name="description" content="Here's why you should try visiting a NASCAR track, with insider tips from locals." />
  <meta name="H1" content="Local Events"/>
  <!-- fb opengraph tags -->
  <meta property="og:title" content="Reasons to visit a NASCAR track this year - MapQuest"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://parachute.mapquest.com/nascar/"/>
	{% set image = post.images.featured %}
		{% if image == true %}
	 <meta property="og:image" content="{{ post.images.featured }}" />
		{% endif %}
 <meta property="og:description" content="Find your next bucket-list item, with tips from local insiders." />
{% endblock %}

{% set featuredPosts = api.posts.query({ 
	site_ids: [979],
	zone: 'Featured NASCAR',
    limit: 4
}) %}

{% set nPosts = api.posts.query({ 
	site_ids: [979],
	page: req.params.page|default(1),
	tags: ['nascar'],
    limit: 15
}) %}

{% set mainFeature = featuredPosts.results[0] %}
{% set mainFeatureList = featuredPosts.results|slice(1,4) %}
{% set nascar = nPosts.results %}

{% block body %}
	<title>Find Your Inner NASCAR</title>

{% if nPosts.page == 1 %}
	<div class="featured-section">
		<header class="header">
			<strong class="title">NASCAR Articles</strong>
		</header> 
		<div class="article-holder">
			<div class="featured-article">
				<div class="image-holder"><a href="{{ mainFeature.relative_path }}"><img src="{{ mainFeature.image_crops.mainfeature }}" height="360" width="485" alt="{{ mainFeature.featured_image_credit }}"></a></div>
				<div class="details">
					<h1><a href="{{ mainFeature.relative_path }}"><strong>{{ mainFeature.title_facebook|raw }}</strong></a></h1>
					<aside class="meta"><span class="author">by <a href="/contributor/{{ mainFeature.contributor_slug }}">{{ mainFeature.byline }}</a> |</span> <span class="date">posted <time datetime="2014-09-29">{{ mainFeature.published|date('F j, Y') }}</time> </span></aside>
				</div>
			</div>
			<ul class="article-list">
			{% for item in mainFeatureList %}	<li>
					<div class="image-holder"><a href="{{ item.relative_path }}"><img src="{{ item.image_crops.thumbnail }}" height="100" width="150" alt="{{ item.featured_image_credit }}"></a></div>
					<div class="details">
						<h2><a href="{{ item.relative_path }}">{{ item.title_facebook|raw }}</a></h2>
						<aside class="meta"><span class="author">by <a href="/contributor/{{ item.contributor_slug }}">{{ item.byline }}</a> |</span> <span class="date">posted <time datetime="2014-09-29">{{ item.published|date('F j, Y') }}</time> </span></aside>
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}
<!-- recent article section of the page -->
<!-- TAG START { player: "AOL Skin5 default player", owner: "Parachute", for: "Parachute" } -->
<div id="56e9e811e4b0804c04175232" class="vdb_player vdb_56e9e811e4b0804c0417523256e9e80bbbe5bf0de8e25706">
    <script type="text/javascript" src="//delivery.vidible.tv/jsonp/pid=56e9e811e4b0804c04175232/vid=570e64f4e4b0f608c3cabc11/56e9e80bbbe5bf0de8e25706.js"></script>
</div>
<!-- TAG END { date: 04/13/16 } -->
<div class="recent-articles">
		{% set pagination_vars = {
		'page': nPosts.page,
		'next_page_size': nPosts.next_page_size,
		'pathlink': '/nascar',
		'content_type': 'Articles'
		}
	%}
	<header class="header">
		{{ pagination.format(pagination_vars)}}
		<strong class="title">Find your inner NASCAR</strong>
	</header>
	<ul class="article-list recent">
		{% for item in nascar %}
		<li>
		<div class="image-holder"><a href="{{ item.relative_path }}">
		  {% if item.image == true %}
			<img src="{{ item.image_crops.thumbnail }}" height="100" width="150" alt="{{ item.featured_image_credit }}">
		  {% else %}
			<img src="{{ asset('images/noimage.jpg') }}" height="100" width="150" alt="Parachute from MapQuest">
		  {% endif %}
			</a>
		</div>
			<div class="details">
				<h2><a href="{{ item.relative_path }}">{{ item.title|raw }}</a></h2>
				<aside class="meta"><span class="author">by <a href="/contributor/{{ item.contributor_slug }}"> {{ item.byline }} </a> |</span> <span class="date">posted <time datetime="2014-09-29">{{ item.published|date('F j, Y') }}</time> </span></aside>
			</div>
		</li>
		 {% endfor %}
	</ul>
	<footer class="footer">
{{ pagination.format(pagination_vars)}}
	</footer>
</div>
{% endblock %}

