{% extends '@blocks/layouts/main.twig' %}
{% import "@blocks/macros/pagination.twig" as pagination %}

{% block body_class %}index{% endblock %}
{% block header_class %}alt{% endblock %}
{% block meta %}
  <meta name="title" content="Popular posts on Parachute - MapQuest" />
  <meta name="description" content="Popular articles about travel, local people, places and events." />
  <meta name="H1" content="Popular Travel Articles"/>
  <!-- fb opengraph tags -->
  <meta property="og:title" content="Popular posts on Parachute - MapQuest"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://parachute.mapquest.com/popular/"/>
	{% set image = post.images.featured %}
		{% if image == true %}
	 <meta property="og:image" content="{{ post.images.featured }}" />
		{% endif %}
 <meta property="og:description" content="Popular articles about travel, local people, places and events." />
{% endblock %}

{% set popPosts = api.posts.topPosts({
	site_ids: [979, 1032],
    page: req.params.page|default(1),
    status: published,
    limit: 20,
    tags_exclude: ['xMQx']
}) %}
{% block body %}

		<title>Popular Articles</title>
<!-- recent article section of the page -->
<div class="recent-articles">
			{% set pagination_vars = {
			'page': popPosts.page,
			'next_page_size': popPosts.next_page_size,
			'pathlink': '/popular',
			'content_type': 'Popular Articles'
			}
		%}
	<header class="header">
{{ pagination.format(pagination_vars)}}
		<strong class="title" style="background-color:#515657">Popular Articles</strong>
		<a href="/"><strong class="title">Recent Articles</strong></a>
	</header>
	<ul class="article-list recent">
		{% for item in popPosts %}
			{% if 'xMQx' not in item.tags %}
                <li>
                    <div class="image-holder"><a href="{{ item.relative_path|replace({'//':'/'}) }}">
                  {% if item.image == true %}
                    <img src="{{ item.image_crops.thumbnail }}" height="100" width="150" alt="{{ item.featured_image_credit }}">
                  {% else %}
                    <img src="{{ asset('images/noimage2.png') }}" height="100" width="150" alt="Parachute from MapQuest">
                  {% endif %}
                    </a>
                </div>
                    <div class="details">
                        <h2><a href="{{ item.relative_path|replace({'//':'/'}) }}">{{ item.title|raw }}</a></h2>
                        <aside class="meta"><span class="author">by <a href="/contributor/{{ item.contributor_slug }}"> {{ item.byline }} </a> |</span> <span class="date">posted <time>{{ item.published|date('F j, Y') }}</time> </span></aside>
                    </div>
                </li>
			{%  endif %}
		 {% endfor %}
	</ul>
	<footer class="footer">
{{ pagination.format(pagination_vars)}}
	</footer>
</div>
{% endblock %}

