{% extends '@blocks/layouts/main.twig' %}
{% import "@blocks/macros/pagination.twig" as pagination %}

{% block body_class %}index{% endblock %}
{% block header_class %}alt{% endblock %}
{% block meta %}
  <meta name="title" content="Search Results for {{ req.get.q }} - MapQuest" />
  <meta name="description" content="Search results from local insiders on {{ req.get.q }}." />
  <meta name="H1" content="Local Events"/>
  <!-- fb opengraph tags -->
  <meta property="og:title" content="Search Results for {{ req.get.q }} - MapQuest"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://parachute.mapquest.com/search/?q={{ req.get.q }}/"/>
	{% set image = post.images.featured %}
		{% if image == true %}
	 <meta property="og:image" content="{{ post.images.featured }}" />
		{% endif %}
 <meta property="og:description" content="Search results from local insiders on {{ req.get.q }}." />
{% endblock %}

{% block body %}
	<title>Parachute Search Results</title>

<!-- recent article section of the page -->
<script>
(function() {
  var cx = '013225728778573069482:ng2b0dncab4';
  var gcse = document.createElement('script');
  gcse.type = 'text/javascript';
  gcse.async = true;
  gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
      '//cse.google.com/cse.js?cx=' + cx;
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(gcse, s);
})();
</script>
<gcse:searchresults-only></gcse:searchresults-only>

{% endblock %}

