{%- if req.secure != true -%},
    {%- do res.redirect('https://'~req.host~req.path~(req.query ? '?' ~ req.query : ''), 301) -%}
{%- endif -%}
{%- import "@blocks/macros/asset-file.twig" as assetfile -%}
{%- import "@blocks/macros/resize.twig" as resize -%}
{%- set episode = api.data.query({
    schema_name: "sl_episode",
    filters: {
        instance: {
                slug : req.params.slug|striptags,
            }
        }
        }).results
-%}
<!DOCTYPE html>
<html>
<head>
    {#{{prettydump(episode)}}#}
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sounds Local</title>
    <link media="all" rel="stylesheet" href="{{ asset('styles/'~assetfile.assetfile('sl-main.min.css')) }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link rel="shortcut icon" href="{{asset('images/sl_favicon2.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{asset('images/sl_favicon2.ico')}}" type="image/x-icon">
    <meta name="google-site-verification" content="O11SM7EL9ZaCmA0pZjEt4sWpND7KEYlmlQf5qDH0hu8"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" defer></script>
    <script type="text/javascript" src="{{ asset('scripts/jquery.sl-main.js') }}" defer></script>
      <!-- meta tags -->
    {% for item in episode %}
    {% set item = item.instance %}
      <meta name="title" content="Sounds Local - {{item.band_name}} " />
      <meta name="description" content="{{item.episode_description|raw}}"/>
      <meta name="keywords" content="local,travel,music"/>
      <meta name="H1" content="Web Series"/>
      <!-- fb opengraph tags -->
      <meta property="og:title" content="Sounds Local - {{item.band_name}}"/>
      <meta property="og:type" content="website"/>
      <meta property="og:url" content="/soundslocal/episode/{{item.slug}}"/>
      <meta property="og:image" content="{{resize.resize(item.bottom_image, 537, 304)}}" />
      <meta property="og:description" content="{{item.episode_description|raw}}" />
  {% endfor %}
</head>
<body>
    <div id="wrapper">
        <div class="w1">
        <header id="header">
            <div class="container">
                <strong class="logo"><a href="/soundslocal"><img src="{{asset('images/SLlogo.png') }}"></a></strong>
                <nav id="nav">
                    <a href="#" class="nav-opener"><span></span></a>
                    <div class="nav-drop">
                        <ul>
                            <li><a href="/soundslocal">Episodes</a></li>
                            <li><a href="/" target="_blank">Parachute</a></li>
                            <li><a href="https://www.mapquest.com" target="_blank">MapQuest</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <main id="main">
            {% for item in episode %}
                {% set item = item.instance %}
            {% if item.episode_live == true %}
            </br>
            <div class="video-block">
                {{item.video_tag|raw}}
            </div>
             <div class="episode-social">
                    <a href="http://www.facebook.com/sharer/sharer.php?m2w" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436');return false;" class="facebook"><img src= "/assets-ha94f4f36c5055b2a45d4ac1e15bcaf3c/images/ico-social1.png?h=2c6c4cced885cc0ca053d545f48a1036" alt="Facebook"></a>

                    <a href="https://twitter.com/intent/tweet?text=Sounds Local with Y La Bamba https://parachute.mapquest.com/soundslocal/episode/y-la-bamba&via=MQchute" target="_blank" class="twitter"><img src="/assets-ha94f4f36c5055b2a45d4ac1e15bcaf3c/images/ico-social2.png?h=3333fefe73e274921e7e9989d24f7136" alt="Twitter"></a>

                    <a href="https://plus.google.com/share?url=https://parachute.mapquest.com/soundslocal/episode/y-la-bamba" target="_blank" class="gplus"><img src="/assets-ha94f4f36c5055b2a45d4ac1e15bcaf3c/images/ico-social3.png?h=6746dceec87fa496639621074d483876" alt="Google Plus"></a>
                </div>
            <article class="info-post">
                <div class="container">
                    <header class="head">
                        <h1>{{item.band_name}}</h1>
                        <h2>{{item.location}}</h2>
                    </header>
                    <div class="holder">
                        <div class="textbox">
                           {{item.episode_description|raw}}
                        </div>
                        <div class="info-box">
                            <div class="box">
                                <strong class="title">Band Members</strong>{{item.band_members|raw}}</div>
                                <strong class="title">Find</strong>
                                <ul class="social-links">
                                    <li>{{item.band_social|raw}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="location-block">
                <div class="container">
                    <h2>Locations Visited in Episode:</h2>
                    <div class="map-holder">
                        {{item.my_map|raw}}
                    </div>
                </div>
            </div>
            <section class="recent-block">
                <div class="container">
                    <div class="img-holder">
                        <img src="{{item.bottom_image}}" alt="{{item.band_name}}">
                    </div>
                    <div class="textbox">
                        <h2>Explore the City Using Parachute:</h2>
                        {{item.related_links|raw}}
                    </div>
                </div>
            </section>

            {% if item.extra_videos == true %}

                <section class="show-block">
                    <div class="container">
                        <header class="head">
                            <h2>Extras From This Episode:</h2>
                        </header>
                    {{item.extra_videos|raw}}
                    </div>
                </section>

                    {% else %}

                {% endif %}

            {% if item.more_episodes == true %}
            <section class="episodes-block">
                <div class="container">
                    <h2>More Episodes</h2>
                    <ul>
                        <li>
                            <a href="/soundslocal/episode/{{item.episode_link1}}" target="_blank">
                                <div class="img-holder">
                                    <img src="{{item.episode_img1}}" alt="{{item.band_name}}">
                                </div>
                                <strong class="title">{{item.episode_title1}}</strong>
                            </a>
                        </li>
                        {% if item.episode_link2 == true %}
                        <li>
                           <a href="/soundslocal/episode/{{item.episode_link2}}">
                                <div class="img-holder">
                                    <img src="{{item.episode_img2}}" alt="{{item.band_name}}">
                                </div>
                                <strong class="title">{{item.episode_title2}}</strong>
                            </a>
                        </li>
                        {% else %}
                    {% endif %}

                    {% if item.episode_link3 == true %}
                        <li>
                           <a href="/soundslocal/episode/{{item.episode_link3}}">
                                <div class="img-holder">
                                    <img src="{{item.episode_img3}}" alt="{{item.band_name}}">
                                </div>
                                <strong class="title">{{item.episode_title3}}</strong>
                            </a>
                        </li>
                         {% else %}
                    {% endif %}

                    {% if item.episode_link4 == true %}
                        <li>
                           <a href="/soundslocal/episode/{{item.episode_link4}}">
                                <div class="img-holder">
                                    <img src="{{item.episode_img4}}" alt="{{item.band_name}}">
                                </div>
                                <strong class="title">{{item.episode_title4}}</strong>
                            </a>
                        </li>
                        {% else %}
                    {% endif %}

                    {% if item.episode_link5 == true %}
                        <li>
                           <a href="/soundslocal/episode/{{item.episode_link5}}">
                                <div class="img-holder">
                                    <img src="{{item.episode_img5}}" alt="{{item.band_name}}">
                                </div>
                                <strong class="title">{{item.episode_title5}}</strong>
                            </a>
                        </li>
                        {% else %}
                    {% endif %}
                    </ul>
                </div>


                {% else %}

            {% endif %}

            {% else %}

            <div class="img-holder">
                    <img src="{{ asset('images/ComingSoon.jpg') }}" alt="Sounds Local">
                </br>
                </br>
                </div>

        {% endif %}

            </section>

            {% endfor %}



    <div class="intro-text">
        <div class="container">
            <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fmapq.st%2FEatDrinkSing&text=Sounds%20Local%20by%20@MQchute%20brings%20you%20around%20the%20US%20to%20see%20cities%20through%20the%20eyes%20of%20local%20musicians.%20%23EatDrinkSing&" target="_blank" style="text-decoration:none; color:#ded0c5"><p>#EatDrinkSing</p></a>
    </div>
        </main>
    </div>
  <footer id="footer">
        <div class="footer-holder">
                <div class="footer-frame">
                    <div class="footer-top">
                        <div class="container">
                            <div class="col">
                                <h3>About</h3>
                                <nav class="footer-nav">
                                    <ul>
                                        <li><a href="http://company.mapquest.com/" target="_blank">About MapQuest</a></li>
                                        <li><a href="mailto:parachute@mapquest.com" target="_blank">Contact Us</a></li>
                                        <li><a href="http://advertising.aol.com/brands/mapquest" target="_blank">Advertise</a></li>
                                        <li><a href="http://adinfo.aol.com/about-our-ads/" target="_blank">About Our Ads</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col">
                                <h3>More MapQuest</h3>
                                <nav class="footer-nav">
                                    <ul>
                                        <li><a href="https://www.mapquest.com/directions" target="_blank">Driving Directions</a></li>
                                        <li><a href="https://www.mapquest.com/search" target="_blank">Find Place or Address</a></li>
                                        <li><a href="https://developer.mapquest.com/" target="_blank">Business Solutions</a></li>
                                        <li><a href="https://bookings.mapquest.com/refclickid=&refclickid=pchutefooter&refid=5101" target="_blank">Book Travel</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col">
                                <h3>Even More</h3>
                                <nav class="footer-nav">
                                    <ul>
                                        <li><a href="https://contributor.mapquest.com/registration/" target="_blank">Become a Contributor</a></li>
                                        <li><a href="https://parachute.mapquest.com/2016/05/23/parachute-by-mapquest-custom-content-solutions/" target="_blank">Custom Content Solutions</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <div class="container">
                            <div class="col">
                                <h3>Follow</h3>
                                <ul class="social-networks">
                                    <li><a class="facebook" href="https://www.facebook.com/parachutebymq/" target="_blank"><img src= "{{asset('images/ico-social1.png')}}" alt="Facebook"></a></li>
                                    <li><a class="twitter" href="https://twitter.com/MQchute" target="_blank"><img src="{{asset('images/ico-social2.png')}}" alt="Twitter"></a></li>
                                    <li><a class="gplus" href="https://plus.google.com/+mapquest/videos" target="_blank"><img src="{{asset('images/ico-social3.png')}}" alt="Google Plus"></a></li>
                                    <li><a class="youtube" href="https://www.youtube.com/user/mapquest" target="_blank"><img src="{{asset('images/ico-social4.png')}}" alt="YouTube"></a></li>
                                    <li><a class="instagram" href="https://instagram.com/mapquest/" target="_blank"><img src="{{asset('images/ico-social5.png')}}" alt="Instagram"></a></li>
                                    <li><a class="linkedin" href="https://www.linkedin.com/company/mapquest" target="_blank"><img src="{{asset('images/ico-social6.png')}}" alt="LinkedIn"></a></li>
                                </ul>
                            </div>
                            <div class="col">
                                <h3>MapQuest Apps</h3>
                                <ul class="app-links">
                                    <li><a class="android" href="https://play.google.com/store/apps/details?id=com.mapquest.android.ace" target="_blank"><img src="{{asset('images/ico-social7.png')}}" alt="For Android"></a></li>
                                    <li><a class="apple" href="https://itunes.apple.com/app/mapquest-maps-gps-voice-navigation/id316126557?mt=8" target="_blank"><img src="{{asset('images/ico-social8.png')}}" alt="For iOS"></a></li>
                                </ul>
                                <span class="link-text">
                                    <a class="link-arrow" href="http://mobile.mapquest.com/#intro" target="_blank">More Apps from MapQuest</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    {% include "@blocks/partials/tracking.twig" with { 'episodeId': episode[0].instance.video_id, 'episodeLocation': episode[0].instance.location } %}
        <!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84360094-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
