{% extends '@blocks/layouts/main.twig' %}
{% import "@blocks/macros/pagination.twig" as pagination %}

{% block body_class %}index{% endblock %}
{% block header_class %}alt{% endblock %}
{% block meta %}
  <meta name="title" content="Videos on Parachute - MapQuest" />
  <meta name="description" content="Videos about local people, places and events." />
  <meta name="H1" content="Local Events"/>
  <!-- fb opengraph tags -->
  <meta property="og:title" content="Videos on Parachute - MapQuest"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://parachute.mapquest.com/video/"/>
	{% set image = post.images.featured %}
		{% if image == true %}
	 <meta property="og:image" content="{{ post.images.featured }}" />
		{% endif %}
 <meta property="og:description" content="Videos about local people, places and events." />
{% endblock %}

{% set featuredPosts = api.posts.query({
	site_ids: [979],
	zone: 'Featured Videos',
    limit: 4
}) %}

{% set vPosts = api.posts.query({
	site_ids: [979, 1032],
	page: req.params.page|default(1),
	tags: ['video'],
    limit: 20,
    tags_exclude: ['xMQx']
}) %}

{% set mainFeature = featuredPosts.results[0] %}
{% set mainFeatureList = featuredPosts.results|slice(1,4) %}
{% set videos = vPosts.results %}

{% block body %}
		<title>Parachute: Videos</title>

{% if vPosts.page == 1 %}
	<div class="featured-section">
		<header class="header">
			<strong class="title">Featured Videos</strong>
		</header>
		<div class="article-holder">
			<div class="featured-article">
				<div class="image-holder"><a href="{{ mainFeature.relative_path|replace({'//':'/'}) }}"><img src="{{ mainFeature.image_crops.mainfeature }}" height="360" width="485" alt="{{ mainFeature.featured_image_credit }}"></a></div>
				<div class="details">
					<h1><a href="{{ mainFeature.relative_path|replace({'//':'/'}) }}"><strong>{{ mainFeature.title_facebook|raw }}</strong></a></h1>
					<aside class="meta"><span class="author">by <a href="/contributor/{{ mainFeature.contributor_slug }}">{{ mainFeature.byline }}</a> |</span> <span class="date">posted <time>{{ mainFeature.published|date('F j, Y') }}</time> </span></aside>
				</div>
			</div>
			<ul class="article-list">
			{% for item in mainFeatureList %}	<li>
					<div class="image-holder"><a href="{{ item.relative_path|replace({'//':'/'}) }}"><img src="{{ item.image_crops.thumbnail }}" height="100" width="150" alt="{{ item.featured_image_credit }}"></a></div>
					<div class="details">
						<h2><a href="{{ item.relative_path|replace({'//':'/'}) }}">{{ item.title_facebook|raw }}</a></h2>
						<aside class="meta"><span class="author">by <a href="/contributor/{{ item.contributor_slug }}">{{ item.byline }}</a> |</span> <span class="date">posted <time>{{ item.published|date('F j, Y') }}</time> </span></aside>
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endif %}

<!-- recent article section of the page -->
<div class="recent-articles">
			{% set pagination_vars = {
			'page': vPosts.page,
			'next_page_size': vPosts.next_page_size,
			'pathlink': '/video',
			'content_type': 'Videos'
			}
		%}
	<header class="header">
{{ pagination.format(pagination_vars)}}
		<strong class="title">Recent Videos</strong>
	</header>
	<ul class="article-list recent">
		{% for item in videos %}
		<li>
			<div class="image-holder"><a href="{{ item.relative_path|replace({'//':'/'}) }}">
		  {% if item.image == true %}
			<img src="{{ item.image_crops.thumbnail }}" height="100" width="150" alt="{{ item.featured_image_credit }}">
		  {% else %}
			<img src="{{ asset('images/noimage2.png') }}" height="100" width="150" alt="Parachute from MapQuest">
		  {% endif %}
			</a>
		</div>
			<div class="details">
				<h2><a href="{{ item.relative_path|replace({'//':'/'}) }}">{{ item.title|raw }}</a></h2>
				<aside class="meta"><span class="author">by <a href="/contributor/{{ item.contributor_slug }}"> {{ item.byline }} </a> |</span> <span class="date">posted <time datetime="2014-09-29">{{ item.published|date('F j, Y') }}</time> </span></aside>
			</div>
		</li>
		 {% endfor %}
	</ul>
	<footer class="footer">
{{ pagination.format(pagination_vars)}}
	</footer>
</div>
{% endblock %}

