{#
Required parameters
	page_vars (Hash):
	{
		page: current page
		next_page_size: total on the next page
		pathlink: url path for the page we are rendering
	}
#}

{% macro format(page_vars) %}
    <div class="pagination">
        <ul>
        {% if page_vars.page > 1 %}
            {% set next_page = page_vars.page-1 %}
            <li><a href="{{page_vars.pathlink}}/{% if next_page > 1 %}page/{{ next_page }}/{% endif %}" class="btn-prev">Prev</a></li>
            {% if page_vars.next_page_size > 0 %}
                {% set prev_page = page_vars.page+1 %}
                <li><a href="{{page_vars.pathlink}}/page/{{ prev_page }}/" class="btn-next">Next</a></li>
            {% endif %}
        {% else %}
            {% if page_vars.next_page_size > 0 %}
                {% set prev_page = page_vars.page+1|default(2) %}
                <li><a href="{{page_vars.pathlink}}/page/{{ prev_page }}/" class="btn-next">More {{ page_vars.content_type|default('Articles') }}</a></li>
            {% endif %}
        {% endif %}
        </ul>
    </div>
{% endmacro %}